<!DOCTYPE html>
<html>
<head>
    <title>TrueMember</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: {{ background }};
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-size: 10vw;
            color: white;
        }
    </style>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const screenWidth = window.innerWidth;
            const screenHeight = window.innerHeight;
            console.log(`Screen Width: ${screenWidth}px`);
            console.log(`Screen Height: ${screenHeight}px`);
        });
    </script>
</head>
<body>
    <center>
        {% if background == "green" %}
            {{firstname}} {{lastname}}</br> ist ein</br> Mitglied des RML
        {% else %}
            {{firstname}} {{lastname}}</br> ist KEIN</br> Mitglied!
        {% endif %}
    </center>
</body>
</html>
